{% extends "home/index.html"%} {% block contenido %}
<h1>La bandita rebelde</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi illo amet vitae tempora suscipit optio molestiae consequuntur ea architecto obcaecati. Vitae numquam molestiae, explicabo dicta a maiores culpa fugit doloremque?

    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fas.com%2Fmeristation%2F2020%2F12%2F28%2Fnoticias%2F1609147235_045874.html&psig=AOvVaw0OxALM964jSnR_9RtKDk46&ust=1634960860677000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPiIt_2N3fMCFQAAAAAdAAAAABAD"
        alt=""> {% endblock contenido %}
</p>